
*{	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-header {
	color: maroon;
	text-align: center;
	font-style: bold;
}

.to-do-form {

	width: 50%;
	margin: 50px auto;
	min-height: 30px;
	border:10px double #01BAEF ;
	border-color: green;
	padding: 5rem ;
	color: blue;
	background: #ffdab9;
}
#user-submit{

	color:red;


}
.close-to-do {

	display: inline-block;
	margin-right: 10px;
	font-size: 50px;
	color:red;
}
.user-input{
	width:100%
	margin:10px;
}

